@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@100;900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

.font-livvic {
  font-family: "Livvic", sans-serif;
}




:root {
  --background: #EDEDED;
  --foreground: #171717;
  height: 100%;
  --timberwolf: #ededed;
  --brunswickgreen: #344e41;
  --ferngreen: #588157;
  --grey: #3f3f3f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.react-datepicker__day--highlighted {
  background-color: #d3d3d3 !important; /* Light grey color */
  color: #000 !important; /* Ensure text is readable */
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}
